
/* Small (max-width: 640px */
/* navbar and banner */
    @media screen and (max-width: 640px) {
        .menu {
            display: none;
        }
        #btn1{
            display: none;
        }
        #school{
            display: none;
        }
        #banner{
            display: flex;
           flex-direction: column-reverse;
           text-align: center;
           width: auto;
        }
        h2, p {
            justify-content: center;    
        }  
           /*Standard Curriculum  */
           .cards {
            display: flex;
            flex-direction: column;
            width: auto;
        }
        /* Our stories */
        .story-1{
            display: none;
        }
        .stories{
            width: auto;
        }
        /* footer */
        .footer{
            display: flex;
            flex-direction: column;
            
        }
       }
        
       
   
  
  
  
  
    /* Medium (Min-width: 641px; Max-width: 1007px */
@media screen and (min-width: 641px) and (max-width: 1007px){
    .icon{
        display: none;
    }
}
   


   /* Large (Min-width: 1008px */
   @media screen and (min-width: 1008px) {
    .icon{
        display: none;
    }
   }


   


