

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
 
 
 
 
 .body{
    background-color: #FFFFFF;
    padding: 20px;
    background-image: url("assets/bg.png");
    
 }
 
 /* shared styles */
 .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
 }
 .button {
    background-color: orange;
    border-radius: 10px;
         }
 

 
 
 /* navbar  */
    #home{
        color: orange;
    }
    #about{
        color:skyblue;
    }
    #facilities{
        color: #05D4DF;
    }
    #admission{
        color: #5D58EF;
    }


    
   
  
  
  
  
  
    /* banner */
 #enroll{
    background-color: black;
    color: white;
 }
#empowering{
   color: orange;
}
#towards{
   color: skyblue;
}

   


   /* Standard Curriculum */
   #title{
      text-align: center;
   }
   .standard{
      background-image: url("assets/bg.png");
   }
.cards{
   display: flex;
   gap: 30px;
   justify-content: space-between;
   background-image: url("assets/bg.png");
}
#card1{
   background-color: #DEF5FF;
   text-align: center;
   
}
#h61{
   color: #64C8FF;
   
}
#card2{
   background-color: #FFF4DC;
   text-align: center;
}
#h62{
   color: #F0AA00;
}
#card3{
   background-color: #F2E8FF;
   text-align: center;
}
#h63{
   color: #8700FF;
}
   /* Our Stories */


    /* footer */

