

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
 
 
 
 
 .body{
    background-color: #FFFFFF;
   
    padding: 20px;
    margin-left: 140px;
    margin-right: 140px;
  
   

    
 }
 
 /* shared styles */
 .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
 }
 .button {
    color: black;
    border-radius: 10px;
         }
 

 
 
 /* navbar  */
    #home{
        color: orange;
    }
    #about{
        color:skyblue;
    }
    #facilities{
        color: #05D4DF;
    }
    #admission{
        color: #5D58EF;
    }
    #btn1{
      background-color: orange;
    }
    .stroke{
      background-color: orange;
      height: 2px;
    }

    
   
  
  
  
  
  
    /* banner */
 #enroll{
    background-color: black;
    color: white;
 }
#empowering{
   color: orange;
}
#towards{
   color: skyblue;
}

   


   /* Standard Curriculum */
   #title{
      text-align: center;
   }
   .standard{
      background-image: url(assets/bg-1.jpg);
   }
.cards{
   display: flex;
   gap: 20px;
   justify-content: space-between;
   background-image: url("assets/bg.png");
   width: auto;
}
#card1{
   display: flex;
   flex-direction: column;
   background-color: #DEF5FF;
   text-align: center;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
   padding: 10px;
   
}
#h61{
   color: #64C8FF;
   
}
#card2{
   display: flex;
   flex-direction: column;
   background-color: #FFF4DC;
   text-align: center;
   border-radius: 10px;
   background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
#h62{
   color: #F0AA00;
}
#card3{
   display: flex;
   flex-direction: column;
   background-color: #F2E8FF;
   text-align: center;
   border-radius: 10px;
   background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
   padding: 10px;
}
#h63{
   color: #8700FF;
}
.arrow{
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 30px;
   
}
#arrow1{
   background-color: orange;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
#arrow2{
   background-color: orange;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}
   /* Our Stories */
   #OurStories{
      background-image: url("bg-1.png");
      background: linear-gradient(to top, #FEA301, #FFFFFF);
}

   
   #h31{
      text-align: center;
   }
   .stories{
      display: flex;
      gap: 20px;
      width: auto;
      justify-content: space-between;
      
   }
   #image1, #image2, #image3, #image4, #image5{
      margin-bottom: -13px;
      border-radius: 10px;
   }
   #p1{
      text-align: center;
   }
#fun{
   text-align: center;

}
   
   
   #btn2{
      background-color: #3CD8E8;
      margin-left: 40px;
      
   }
   
   .stories-2-5{
      justify-content: space-between;
      
   }
   .story-2{
      margin-right: 30px;
   }
   .story-4{
      margin-right: 30px;
   }
   .stories-2-3{
      display: flex;
      margin-top: 10px;
      margin-left: 10px;
      
   }
   #btn3, #btn5, #btn6{
      background-color: #95B226;
      margin-left: 40px;
   }
   #btn4{
      background-color: #5D58F0;
      margin-left: 40px;
   }
   .stories-4-5{
      display: flex;
      margin-top: 10px;
      margin-left: 10px;
      
   }
   #view{
      color: white;
      background-color: black;
      border-radius: 15px;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 130px;
   }
.view-button{
   text-align: center;
   margin-bottom: 50px;
   margin-top: 20px;
}
    /* footer */
    .footer{
      display: flex;
      flex: auto;
      justify-content: space-around;
      background-color: #01ACFD;
      color:white;
      align-items: center;
    }
    #kids{
      display: flex;
      color:white;
    }
    #part-2{
      display: flex;
      flex-direction: column;
    }
    #about{
      text-align: center;
      color: white;
    }
    .part-3{
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
    }
    #keep{
      text-align: center;
    }
    #icons{
      display: flex;
      margin: auto;
      
    }

